@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

:root {
	box-sizing: border-box;
}

body {
	margin: 0;
	width: 2551px;
	background-color: #ffffff;
	font-family: "Lato", sans-serif;
}

.container {
	min-height: 100vh;
	padding-left: 215px;
	padding-top: 205px;
}

.header-logo {
	padding: 0 45%;
}

.header-section {
	font-size: 0;
}

.header-section::before,
.header-section::after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	height: 5px;
	position: relative;
	background-color: #e1e1e1;
	margin: 62px 0;
}

.column {
	height: 172px;
	display: inline-block;
	vertical-align: top;
	color: #3b3e44;
}

.column:first-child {
	width: 193px;
	font-size: 62px;
	font-weight: 700;
}

.first-column {
	margin: 0;
	text-transform: uppercase;
	text-align: right;
}

.column:nth-child(2) {
	width: 313px;
	font-size: 62px;
	font-weight: 700;
	background-color: #ffc600;
}

.second-column {
	margin: 0;
	text-align: left;
	text-transform: uppercase;
}

.column:nth-child(3) {
	width: 237px;
	font-size: 29px;
	font-weight: 300;
	margin-left: 36px;
}

.third-column {
	margin: 0;
	color: #b0b6bd;
}

.column:nth-child(4) {
	width: 313px;
	background-color: #ffc600;
	font-size: 28px;
	font-weight: 400;
}

.navigation-link {
	text-decoration: none;
	color: #3b3e44;
	font-weight: 700;
}

.navigation-list {
	list-style: none;
}

.column:last-child {
	width: calc(100%-1056px);
	font-size: 30px;
}

.first-section {
	font-size: 0;
}

.main-block {
	display: inline-block;
	vertical-align: top;
	font-size: 42px;
	font-weight: 300;
	color: #8b8c90;
}

.left-column.main-block {
	width: 340px;
}

.left-block {
	margin: 0;
}

.left-block:first-child {
	padding-top: 278px;
}

.right-column.main-block {
	width: 1551px;
	margin-left: 159px;
}

.letter-appeal {
	margin-top: 156px;
	margin-bottom: 83px;
	color: #2d2d2d;
	font-size: 42px;
	font-weight: 700;
	text-align: left;
}

.right-block {
	color: #2d2d2d;
}

.second-section-logo {
	margin-top: 92px;
	margin-left: 375px;
}

.footer {
	padding: 0 50%;
	margin-top: 573px;
	margin-bottom: 195px;
}